p{
    font-family: Roboto,Arial;
    margin: 0px;
}
*{
    margin: 0;

}
body{
    padding-top: 80px;
    padding-bottom: 3000px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248,248,248);
}
