.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px ;
}
@media(max-width:750px){
   .video-grid{
    grid-template-columns: 1fr 1fr;
   } 

   @media(min-width:1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   }

}
.thumb{
    width: 100%;
}
.video-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;  
}
.profile-picture{
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
}
.title{
    margin-top: 0;
    margin-bottom: 12px;
}
.thumbnail-row{
    margin-bottom: 8px;
    cursor:pointer;
    position: relative;
}

.video-title,
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.video-title{
    margin-bottom: 10px;
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-family: roboto;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 2px;
}
.video-title-link{
    text-decoration: none;
    color: black;
}